.cv h1, .cv h2,.cv h3,.cv h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
}

.cv h1 {
	text-align: center;
	font-family: Courier,Verdana,sans-serif;
}

.cv p { 
	/*subtitle*/
	font-size: 110%;
}

.cv h2 {
	font-size: 1.1em;
	color: #a00;
	margin-left: -30px;
}

.cv h3 {
	font-size: 1em;
	margin-left: -30px;
}

.cv ul {
	margin-top: -10px;
	list-style-type: none;
}

.cv a {
	color: inherit;
	/*text-decoration:none*/
}

.cv a:hover {
	color:#39f
}
