<!DOCTYPE html>
<html lang="en">
  
 <head>
{% include head.html %}
  <link href="{{ site.url }}/css/cv_style.css" type="text/css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    
    <div class="wrapper"></div>

    {% include navbar.html %}
    
    <div class="container theme-showcase" role="main">
      
      <div class="row">

        <div class="col-md-12">
  <!---        
          <button type="button" class="btn btn-primary btn-lg" aria-label="Download">
  <span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF
</button>
--->
          <div class="cv">
            {{ content }}
          </div>
        </div>
        </div>
    </div>

        {% include bootstrap_bottom.html %}
    
  </body>
</html>
