<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}

  <body>
    
    <div class="wrapper"></div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ site.url }}">{{ site.t[page.lang].home }} <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CV <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/under_construction">HTML</a></li>
            <li><a href="{{ site.url }}/under_construction">PDF</a></li>
          </ul>
        </li>
      <li><a href="{{ site.url }}/under_construction">{{ site.t[page.lang].research }}</a></li>
      <li><a href="{{ site.url }}/under_construction">{{ site.t[page.lang].teaching }}</a></li>
      <li><a href="{{ site.url }}/under_construction">{{ site.t[page.lang].random }}</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container theme-showcase" role="main">
      
      <div class="row">
        <div class="col-md-3" style="padding-right:5px; border-right: 1px solid #ccc;">
          <img height=292 width=206 src="{{ site.url }}/images/mag1_medium.jpg" class="img-rounded">
        </div>
        <div class="col-md-9">
    
        {{ content }}
        
        </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
