<!DOCTYPE html>
<html lang="en">
<head>  
{% include head.html %}
  </head>
  <body>
    
    <div class="wrapper"></div>

    {% include navbar.html %}
    
    <div class="container theme-showcase" role="main">
      
      <div class="row">
        <div class="col-md-3" style="padding-right:5px; border-right: 1px solid #ccc;">
          <img height=292 width=206 src="{{ site.url }}/images/mag1_medium.jpg" class="img-rounded">
        </div>
        <div class="col-md-9">
    
        {{ content }}
        
        </div>
        </div>

<hr><br>

<div class="container">
    <div class="row">
        <div class="span12 text-center">

      <a href="https://orcid.org/0000-0002-6613-5165"><img src="{{ site.url }}/images/icones_orcid_ID.png"></a>
      <a href="http://www.researcherid.com/rid/C-1402-2018"><img src="{{ site.url }}/images/icones_fitxapersonal_RID.png"></a>
      <a href="https://www.scopus.com/authid/detail.uri?authorId=55824572900"><img src="{{ site.url }}/images/icones_fitxapersonal_SCOPUS.png"></a>
      <a href="https://scholar.google.com/citations?user=9Jl46cIAAAAJ&hl=en&oi=ao"><img src="{{ site.url }}/images/icones_fitxapersonal_GS.png"></a>
      <a href="https://producciocientifica.upf.edu/CawDOS?id=b08abfbb4eee6635&idioma=en&tipo=activ
"><img src="{{ site.url }}/images/icones_fitxapersonal_PPC.png"></a>
      <a href="https://www.researchgate.net/profile/Mireia_Artigot_Golobardes"><img src="{{ site.url }}/images/icona_Researchgate.png"></a>
  </div>
</div>
</div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        {% include bootstrap_bottom.html %}
    
  </body>
</html>
